minIcon ICON wzincapp.ico

MOUSE ICON W_MOUSE.ICO
DISK ICON W_DISK.ICO
COMPUTER ICON W_COMPUT.ICO
PHONE ICON W_PHONE.ICO
JOLT ICON W_JOLT.ICO
CALENDAR ICON W_CALEND.ICO
CALC ICON W_CALC.ICO

hardDrive BITMAP w_hdrive.bmp
softDrive BITMAP w_sdrive.bmp
networkDrive BITMAP w_ndrive.bmp
